{% extends "base.html" %}
{% load static %}

{% block content %}

    <h4 class="mb-4">🔥 Популярные вопросы</h4>

    <div class="card mb-4 shadow-sm">
        <div class="card-body p-4">
            <div class="d-flex align-items-center mb-3">
                <img src="{% static 'stas.jpg' %}" width="48" height="48" class="rounded-circle object-fit-cover me-2">
                <span class="fw-semibold text-muted me-5 fs-5">Стасик</span>
                <h5 class="mb-0">Как правильно настроить Bootstrap grid для адаптивной вёрстки?</h5>
            </div>
            <div class="d-flex align-items-center gap-3">
                <a href="#" class="btn rounded-pill fw-semibold" style="background-color:#FFD180; color:#7A4A00;">
                    Ответы | 5
                </a>
                <a href="#" class="text-decoration-none rounded-pill px-3 py-2">
                    #Bootstrap
                </a>
            </div>
        </div>
    </div>

{% endblock %}
